html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1000px;
  margin: auto;
  font-family: sans-serif;
}

header{
  padding: 20px 0;
 border-bottom:1px solid rgba(194, 192, 192, 0.473) ;
}

header .content{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 30px;
}

header .content ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -150px;
}

header .content ul li{
  margin-left: 20px;
}
.info{margin: 80px;}
.info p {
  color: rgb(70, 69, 69);
  font-size: 16px;
  margin-bottom: 20px;
}
.info h1{margin-bottom: 20px;}
.info button{
  border: none;
}
.info button a{ background-color: gray;
color: white !important;
border-radius: 4px;
padding: 15px;
font-weight: 700;
margin-bottom: 80px;
text-decoration: none; }
.footer  {
  background-color: rgb(224, 221, 221);
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 221, 221);
  padding: 20px 50px ;
}
.cards{background-color: #FFF8F2;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-column-gap: 30px;  
}
@media only screen and (max-width :800px){
.cards{margin-left: 25px; margin-right: 25px;
    grid-template-columns: repeat(2,1fr) ;
    grid-column-gap: 30px;
}
.card{margin-bottom: 25px;}}
.card{margin-bottom: 45px;}
@media screen and (max-width: 450px){
    .cards{margin-left: 25px; margin-right: 25px;
        grid-template-columns: repeat(1,1fr) ;
        grid-column-gap: 20px;
    }
}

.cards {
  transition: all .5s ease-in-out;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
 }
 
.cards:target {
  line-height: 1.5;

}
 
